<br>
<br>
<br>
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Balancing dataset</h1>
      </div>
      <!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Balancing</li>
        </ol>
      </div>
      <!-- /.col -->
    </div>

    <div class="d-flex justify-content-center">
      <button id="balancing-btn" type="button" (click)="balancing();" label="Balancing dataset" pButton pRipple icon={{icon}} class="p-button-success p-button-raised p-button-rounded"></button>
    </div>

    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->

</div>
