<app-dropdown class="user-menu">
    <ng-container dropdown-button>
        <img
            src="assets/img/default-profile.png"
            class="user-image img-circle elevation-2"
            alt="User Image"
        />
    </ng-container>
    <ng-container dropdown-menu>
        <li class="userstyle user-header">
            <img
                src="assets/img/default-profile.png"
                class="img-circle elevation-2"
                alt="User Image"
            />

            
        </li>
        
        <!-- Menu Footer-->
        <li class="user-footer">
            <a  [routerLink]="['/profile']" class="footerUserStyle btn" >
                Profile
            </a>
            <a class="footerUserStyle btn float-right">
                Sign out
            </a>
        </li>
    </ng-container>
</app-dropdown>
