.user-footer{

    .footerUserStyle{
        cursor: pointer;
        color:black;
        padding-right: 40px;
        font-size: 15;
        font-weight: 50;
        font: 1em serif;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.19);
    }
    .footerUserStyle:hover {
        background-color:#EED6D3;
        color: black;
    }

}

.userstyle{
    background-color: #A49393;
}
    
