

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Dashboard</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard v1</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>

      <div class="row mb-2">
        <div class="col-sm-6">
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <button type="button" label="Download" (click)="exportExcel();" pButton pRipple icon="pi pi-file-excel" class="p-button-success p-button-raised p-button-rounded float-sm-right"></button>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    <div class="row m-3">
      <p-card header="All class size" class="col-12" styleClass="p-card-shadow">
        <div class="card">
          <p-chart type="bar" [data]="basicData"></p-chart>
        </div>
      </p-card>
    </div>
</div>
<!-- /.content-header -->

